<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Javascript模板引擎——foo</title>
		<style>
			html,body {
				background:rgb(242,242,242);
				padding-top:50px;
			}
			.face {
				background:rgb(230,72,31);
				margin:auto;
				height:1px;
			}
			.handle {
				height:1px;width:10px;border-left:1px solid black;border-right:1px solid black;margin:auto;
			}
			p {	
				text-align:center;
			}
		</style>
	</head>
	<body>
		<template>
			<div>
				<% for(var i = 0;i <= 150;i++) { %>
					<% j = 3*i; %>
					<div class="face" style="width:{{j}}px;"></div>
				<% } %>
				<% for(i = 0;i <= 200;i++) { %>
					<div class="handle"></div>
				<% } %>
				<div class="handle" style="border-bottom:1px solid black;"></div>
			</div>
		</template>
		<p>这是一把伞。请右键查看源代码。更多例子请移步<a href="example2.html">这里</a></p>
		<script src="template.js"></script>
		<script>
			foo.start();
		</script>
	</body>
</html>
