<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Javascript模板引擎——foo</title>
		<style>
			.red {
				color:red;
			}
			.big {
				font-size:30px;
			}
		</style>
	</head>
	<body>
		<template data-render="{ name:'竹致远',age:20,favorite:{ 'favo-1':'跑步','favo-2':'看书' } }">
			<span>我叫{{name}},如今{{age}}岁了，最喜欢的事情是{{favorite['favo-1']}}和{{favorite['favo-2']}}</span>
		</template>

		<!--以下两种方式都是是错误的

		错误的写法：
		<template data-render="{ name:'zzy',age:20 }">
			my name is {{name}},and my age is {{age}}
		</template>
		正确的写法：
		<template data-render="{ name:'zzy',age:20 }">
			<span>my name is {{name}},and my age is {{age}}</span>
		</template>





		错误的写法：
		<template data-render="{ name:'zzy',age:20 }">
			<span>my name is {{name}},and my age is {{age}}</spam>
			<span>my name is {{name}},and my age is {{age}}</spam>
		</template>
		正确的写法：
		<template data-render="{ name:'zzy',age:20 }">
			<div>
				<span>my name is {{name}},and my age is {{age}}</spam>
				<span>my name is {{name}},and my age is {{age}}</spam>
			</div>
		</template>

		就是说，所有的东西，最外层一定要有一个标签包裹。或者说，在template标签里面，必须直接要有一个标签包裹全部内容。
		-->

		<br />

		<!--引入外部模板-->
		<template data-src="intro.tpl"></template>

		<br />

		<template>
			<span>个人网站是{{url}}</span>
		</template>

		<br /><br />

		<!--支持js语法，但是需要严格遵循，不能缺失分号-->
		<template data-render="{ letters:['I','\'','m','&nbsp;','F','o','o','❤'] }">
			<div>
				<% for(var letter of letters) { %>
					<% if(letter == '❤') { %>	<!--语句块不能省略花括号，就算里面只有一句话-->
						<span class="red big">{{letter}}</span>
					<% } else { %>
						<span class="big">{{letter}}</span>
					<% } %>
				<% } %>

				<%
					var foo = function() {
						console.log("I'm foo!");	/* 请打开控制台查看 */
					};
					foo();
				%>
			</div>
		</template>
		<script src="template.js"></script>
		<script>
			/*
				在通过对象传数据的时候，第一级的属性命名最好使用js变量规范。
				请用{ name:'zzy',age:20 }
				不支持{ 'my-name':'zzy','my-age':20 }
				第二级是无所谓的：
				{ name:'zzy',age:20,friend:{ 'fri-1':'a','fir-2':b } }也是可以的
			*/
			document.querySelectorAll('template')[2].setAttribute('data-render','{ url:"https://zhuzhiyuan.cc/" }');



			/* 在所有的template的data-render属性都设置了值之后再调用foo.conf()和foo.start */
			foo.conf({
				callback:function() {	//渲染完毕回调
					console.log('渲染完毕');
				}
			});
			foo.start();
		</script>
	</body>
</html>
